<!DOCTYPE html>
<html>
	<head>
		<title>Administration</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		#{get 'moreStyles' /}
		<link rel="stylesheet" type="text/css" media="screen"
		href="@{'/public/stylesheets/main.css'}" />
		<link rel="shortcut icon" type="image/png"
		href="@{'/public/images/favicon.png'}" />
		<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"></script>
		<script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
	</head>
	<body id="admin">

		<div id="header">
			<div id="logo">
				<span>	إدارة </span>
				المرابطين
			</div>
			<ul id="tools">
				<li>
					<a href="@{Secure.logout()}">تسجيل الخروج</a>
				</li>
			</ul>
		</div>

		<div id="main">

			<ul id="adminMenu">
				#{secure.check 'admin'}
				<li class="${request.controller == 'Students' ? 'selected' : ''}">
					<a href="@{Students.list()}">المتربيين</a>
				</li>
				<li class="${request.controller == 'Teachers' ? 'selected' : ''}">
					<a href="@{Teachers.list()}">المربيين</a>
				</li>
				#{/secure.check}
			</ul>
			#{doLayout /}
		</div>
		<p id="footer">
		</p>

	</body>
</html>