#{extends 'main.html' /}
#{set title:'Home' /}
<!--wrapper starts-->
<div id="wrapper">
	<!--container starts-->
	<div id="container">
		<!--rtcontent starts-->
		<div id="rtcontent">
			<!--publish starts-->
			<IMG STYLE="position:absolute; TOP:15px; LEFT:200px; WIDTH:100px; HEIGHT:50px" SRC="@{'public/images/mora2.png'}">
			<!--publish ends-->
			<!--head starts-->
			<div class="head2">
				نظام المتابعة للمرابطين
			</div>
			<!--head ends-->
			<br/>
			<br/>
			<br/>
			<ul id="tools">
				<li>
					<a href="@{Admin.index()}">تسجيل الدخول</a>
				</li>
			</ul>
			<!--footer starts-->
			<div id="footer">
				<div class="copy">
					&copy; 2010 Make Film Work
				</div>
			</div>
			<!--footer ends-->
		</div>
		<!--container starts-->
	</div>
	<!--wrapper ends-->
